In [35]:
# util functions used in cells
import datetime

def unix_time(dt):
    epoch = datetime.datetime.utcfromtimestamp(0)
    delta = dt - epoch
    return delta.total_seconds()

In [36]:
# connection to the mongodb backend
import pymongo

conn = pymongo.Connection('mongodb://fio:fio@ds045252.mongolab.com:45252/fio')
db = conn['fio']
col = db.results

In [37]:
import pandas as pd

def get_experiments(date1, date2, name_list=None):
    
    cur = col.aggregate([{"$unwind" : "$jobs" }, {"$project": {'jobname': '$jobs.jobname', 'ts': '$timestamp', 
                                                               'r_iops': '$jobs.read.iops', 'w_iops': '$jobs.write.iops'}}, 
                         {"$match" : {'jobname': { "$in": name_list }, 'ts': {"$gte": unix_time(date1), 
                                                                              "$lt": unix_time(date2)}}}])
    
    df =  pd.DataFrame(cur["result"])
    df['ts'] = pd.to_datetime(df['ts'], unit='s')
    df.set_index('ts', inplace=True)
    
    return df.groupby('jobname')

In [38]:
# This is just for Raijin (=None for Tenjin)
cpubind = 0 #[0,1]
membind = 0 #[0,1]
lustre_stripe = 1 #[1, 2, 4, 8]

storage = "gdata1" #[gdata1, gdata2, vm_ssd, wm_ceph*] *typo to be corrected in code
rw = "read" #[read, write]
threads = 2 #[2,4,8]

if cpubind is not None and membind is not None and lustre_stripe is not None:
    exp_name = "cpub{}_memb{}_{}_ls{}_{}_th{}".format(cpubind, membind, storage, lustre_stripe, rw, threads)
else:
    exp_name = "{}_{}_th{}".format(storage, rw, threads)
    
exp_name

'cpub0_memb0_gdata1_ls1_read_th2'

In [44]:
exp_names = []
for cpub in [0, 1]:
    for memb in [0, 1]:
        for thread in [2, 4, 8]:
            for lustre_n in [1, 2]:
                exp_names.append("cpub{}_memb{}_gdata{}_ls1_read_th{}".format(cpub, memb, lustre_n, thread))

date1 = datetime.datetime(year=2015, month=6, day=5, hour=0, minute=0)
date2 = datetime.datetime(year=2016, month=6, day=10, hour=0, minute=0)

df = get_experiments(date1, date2, exp_names)

In [45]:
df.r_iops.describe().unstack()

,count,mean,std,min,25%,50%,75%,max
jobname,,,,,,,,
cpub0_memb0_gdata1_ls1_read_th2,90,210.292000,40.817471,101.02,220.5000,228.32,233.63,240.09
cpub0_memb0_gdata1_ls1_read_th4,180,194.506667,4.354453,178.40,192.0800,194.49,196.62,202.89
cpub0_memb0_gdata1_ls1_read_th8,360,185.245528,4.013281,172.42,183.4100,185.54,186.90,195.83
cpub0_memb0_gdata2_ls1_read_th2,90,182.946000,23.619857,109.55,184.9400,192.45,194.60,203.34
cpub0_memb0_gdata2_ls1_read_th4,180,164.261389,3.181491,154.40,162.9800,164.47,166.05,174.00
cpub0_memb0_gdata2_ls1_read_th8,360,156.150139,3.637105,145.87,154.4500,156.77,157.68,165.16
cpub0_memb1_gdata1_ls1_read_th2,90,259.277556,12.614435,229.49,249.4500,257.67,268.41,287.24
cpub0_memb1_gdata1_ls1_read_th4,180,181.853389,3.315435,175.01,180.4925,181.69,183.38,189.42
cpub0_memb1_gdata1_ls1_read_th8,360,166.064917,2.822650,158.51,164.1000,166.02,168.20,172.13
cpub0_memb1_gdata2_ls1_read_th2,90,216.794222,8.316075,200.71,210.9600,216.08,221.17,240.21
cpub0_memb1_gdata2_ls1_read_th4,180,154.963778,2.660088,144.21,154.0500,155.13,156.91,158.96
cpub0_memb1_gdata2_ls1_read_th8,360,142.505722,2.241060,135.20,141.3200,142.74,144.08,145.68
cpub1_memb0_gdata1_ls1_read_th2,90,249.620000,10.831684,229.49,242.9400,248.85,258.13,271.76
cpub1_memb0_gdata1_ls1_read_th4,180,181.292667,3.149791,173.41,179.1800,181.01,183.12,189.88
cpub1_memb0_gdata1_ls1_read_th8,360,158.939583,2.394508,152.84,157.4900,158.86,160.45,165.08
cpub1_memb0_gdata2_ls1_read_th2,90,205.588667,10.885864,183.61,199.3400,203.70,210.31,240.43
cpub1_memb0_gdata2_ls1_read_th4,180,156.521167,2.994662,147.89,154.5900,156.67,158.29,162.18
cpub1_memb0_gdata2_ls1_read_th8,360,141.639111,3.050407,132.54,139.5100,141.79,143.84,147.40
cpub1_memb1_gdata1_ls1_read_th2,90,225.460667,5.359354,214.32,221.5500,223.97,230.58,235.40
cpub1_memb1_gdata1_ls1_read_th4,180,191.844111,3.326987,184.44,189.5900,191.69,194.34,198.72
cpub1_memb1_gdata1_ls1_read_th8,360,175.029944,3.520129,168.01,172.6200,174.86,177.13,183.64
cpub1_memb1_gdata2_ls1_read_th2,90,187.220889,5.463806,175.40,183.5500,186.39,188.93,203.50
cpub1_memb1_gdata2_ls1_read_th4,180,162.710389,2.471603,155.10,161.4600,162.20,163.81,167.84
cpub1_memb1_gdata2_ls1_read_th8,360,152.333861,3.337391,143.00,150.4100,152.31,154.78,160.15

In [ ]:
%pylab inline
import matplotlib.pyplot as plt

df.iops.plot(title="IOPS", legend=True)